body {
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 15px;
  padding-bottom: 25px;
  background-color: rgba(239, 123, 51, 0.906);
}

h4 {
  padding: 5px
}

h5 {
  padding: 10px
}

p {
  margin-left: 5px
}

.custom-popup, .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:12px;
  line-height:10px;
  border-radius: 10px;
  }

.custom-popup, .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.1);
  }

.custom-popup, .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }

.custom-popup, .leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
  
  }

.section {
  background-color: antiquewhite;
  padding: 5px;
  border-color: #d25231 ;
  border: true;
}

.icon {
  float: right;
  padding-right: 10px;
  margin-right: 20px;
}

#map {
  height: 800px;
}

.btn {
  color: #FFFFFF;
  border-color: #000000 !important; 
  background-color: #b64b1e
  }
    

body,
html {
  height: 100%;
}


